body {
    background-color: darkgray;
}h1 {
	margin-top: 100px;
	font-size: 50px;
	font-family: "Verdana", Geneva, sans-serif;
    color: darkgreen;
    text-indent: 33%;
}p1 {
	border-style: groove;
	font-size: 20px;
	font-family: "Verdana", Geneva, sans-serif;
	color: darkgreen;
}
}ul {
	font-size: 20px;
	font-family: "Verdana", Geneva, sans-serif;
	color: darkgreen;	
}

h2{
  text-align:center;
}
.rainbow{
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 900000000000000000000000000000000000000s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}